{% extends "base.html" %}
{% block content %}
<form class="form-horizontal" role="form" method="post" action="/addrecord/">
  {% csrf_token %}
      <div class="form-group">
        <label for="nickname" class="col-sm-2 control-label">昵称</label>
        <div class="col-sm-4">
          <input type="text" class="form-control" id="nickname" name="nickname" placeholder="昵称">
        </div>
      </div>
      <div class="form-group">
        <label for="short_desc" class="col-sm-2 control-label">简语</label>
        <div class="col-sm-4">
          <input type="text" class="form-control" id="short_desc" name="short_desc" placeholder="short_desc">
        </div>
      </div>
      <div class="form-group">
        <label for="text" class="col-sm-2 control-label">要说的话</label>
        <div class="col-sm-7">
            <textarea class="form-control" rows="5" id="text" name="text"></textarea>
        </div>
      </div>

      <div class="form-group">
        <label for="people" class="col-sm-2 control-label">语音标本(*暂未开放)</label>
        <div class="col-sm-4">
          <select class="form-control" name="people" id="people">
              <option selected>默认</option>
              <option>林志玲</option>
              <option>郭德纲</option>
              <option>刘德华</option>
            </select>
        </div>
      </div>
      <div class="form-group">
        <label for="spd" class="col-sm-2 control-label">语速</label>
        <div class="col-sm-4">
          <select class="form-control" name="spd" id="spd">
              <option>0</option>
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option selected>5</option>
              <option>6</option>
              <option>7</option>
              <option>8</option>
              <option>9</option>
            </select>
        </div>
      </div>

      <div class="form-group">
        <label for="pit" class="col-sm-2 control-label">音调</label>
        <div class="col-sm-4">
          <select class="form-control" name="pit" id="pit">
              <option>0</option>
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option selected>5</option>
              <option>6</option>
              <option>7</option>
              <option>8</option>
              <option>9</option>
            </select>
        </div>
      </div>

      <div class="form-group">
        <label for="vol" class="col-sm-2 control-label">音量</label>
        <div class="col-sm-4">
          <select class="form-control" name="vol" id="vol">
              <option>0</option>
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option selected>5</option>
              <option>6</option>
              <option>7</option>
              <option>8</option>
              <option>9</option>
            </select>
        </div>
      </div>

      <div class="form-group">
        <label for="per" class="col-sm-2 control-label">人声</label>
        <div class="col-sm-4">
            <label class="radio-inline">
              <input type="radio" name="per" id="per1" value="0" checked> 女生
            </label>
            <label class="radio-inline">
              <input type="radio" name="per" id="per2" value="1"> 男生
            </label>
        </div>
      </div>
      <div class="form-group">
        <label for="checkcode" class="col-sm-2 control-label">机器防御码</label>
        <div class="col-sm-4">
          <input type="text" class="form-control" id="checkcode" name="checkcode" placeholder="">
            <img onclick="this.setAttribute('src','/checkcode/?nocache='+Math.random());" src="/checkcode/"/>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-default">生成爱的语音</button>
        </div>
      </div>
</form>
{% endblock %}