{% extends "base.html" %}
{% block content %}
<form class="form-horizontal" role="form" method="post" action="/addrecord/">
  {% csrf_token %}
      <div class="form-group">
        <label for="nickname" class="col-sm-2 control-label">昵称</label>
        <div class="col-sm-4">
          <input type="text" class="form-control" id="nickname" name="nickname" placeholder="昵称">
        </div>
      </div>
      <div class="form-group">
        <label for="short_desc" class="col-sm-2 control-label">简语</label>
        <div class="col-sm-4">
          <input type="text" class="form-control" id="short_desc" name="short_desc" placeholder="short_desc">
        </div>
      </div>
      <div class="form-group">
        <label for="text" class="col-sm-2 control-label">要说的话</label>
        <div class="col-sm-7">
            <textarea class="form-control" rows="5" id="text" name="text"></textarea>
        </div>
      </div>
      <div class="form-group">
        <label for="checkcode" class="col-sm-2 control-label">机器防御码</label>
        <div class="col-sm-4">
          <input type="text" class="form-control" id="checkcode" name="checkcode" placeholder="">
            <img onclick="this.setAttribute('src','/checkcode/?nocache='+Math.random());" src="/checkcode/"/>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-default">生成爱的语音</button>
        </div>
      </div>
</form>
{% endblock %}